  <div class="card ">
  <div class="card-header">
    <strong><%= @stock_quote.name %> | <%= @stock_quote.symbol %></strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <% if @stock_quote.c.to_f >= 0 %>
          <h1 class='green'><%= @stock_quote.l %></h1> <br>
          <strong>Days Change: </strong><em class='green'><%= @stock_quote.c %> </em><br>
        <% else %>
          <h1 class='red'><%= @stock_quote.l %></h1> <br>
          <strong>Days Change: </strong> <em class='red'><%= @stock_quote.c %> </em> <br>
        <% end %>
        <strong>Current Company Worth: </strong><%= @stock_quote.mc %> <br>
        <strong>52 Week High: </strong><%= @stock_quote.hi52 %> <br>
        <strong>52 Week Low:</strong><%= @stock_quote.lo52 %> <br>
      </div>
      <div class="col-8">
          <%= @stock_quote.summary[0]['overview'] if @stock_quote.summary %>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <p>
      <%= link_to 'Edit',  edit_account_stock_path(@account,@stock), class: 'btn btn-default'  %>
      <%= link_to 'Back', account_path(@account), class: 'btn btn-default' %>
      <%= button_to "Delete Stock", account_stock_path, method: :delete, class: 'btn btn-danger' %>
    </p>
  </div>
</div>
