  <div class="card ">
  <div class="card-header">
    <strong><%= @stock_quote.name %> | <%= @stock_quote.symbol %></strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <% if @stock_quote.c.to_f >= 0 %>
          <h1 class='green'><%= @stock_quote.l %></h1> <br>
          <strong>Days Change: </strong><em class='green'><%= @stock_quote.c %> </em><br>
        <% else %>
          <h1 class='red'><%= @stock_quote.l %></h1> <br>
          <strong>Days Change: </strong> <em class='red'><%= @stock_quote.c %> </em> <br>
        <% end %>
        <strong>Current Company Worth: </strong><%= @stock_quote.mc %> <br>
        <strong>52 Week High: </strong><%= @stock_quote.hi52 %> <br>
        <strong>52 Week Low:</strong><%= @stock_quote.lo52 %> <br>
      </div>
      <div class="col-8">
          <%= @stock_quote.summary[0]['overview'] if @stock_quote.summary %>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
      <%# link_to 'Edit Stock',  edit_account_stock_path(@account,@stock), class: 'btn btn-primary'  %>
      <%= link_to 'Back', account_path(@account), class: 'btn btn-primary' %>
      <%= link_to "Delete Stock", account_stock_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
</div>
<hr>
<%#= Price chart tabs  %>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="1w-tab" data-toggle="tab" href="#1w" role="tab" aria-controls="1w" aria-selected="true">1W</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="1m-tab" data-toggle="tab" href="#1m" role="tab" aria-controls="1m" aria-selected="false">1M</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="1y-tab" data-toggle="tab" href="#1y" role="tab" aria-controls="1y" aria-selected="false">1Y</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="3y-tab" data-toggle="tab" href="#3y" role="tab" aria-controls="3y" aria-selected="false">3Y</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="5y-tab" data-toggle="tab" href="#5y" role="tab" aria-controls="5Y" aria-selected="false">5Y</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="1w" role="tabpanel" aria-labelledby="1w-tab">
  <% @stock_history = StockQuote::Stock.history(@stock.ticker, (Date.today.-7), Date.today) %>
    <% @stock_price_hash = {} %>
      <% @stock_history[:history].each do |day| %>
      <% @stock_price_hash[day[:date]] = day[:close] %>
    <% end %>
      <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>

  </div>
  <div class="tab-pane" id="1m" role="tabpanel" aria-labelledby="1m-tab">
    <% @stock_history = StockQuote::Stock.history(@stock.ticker, Date.today.months_ago(1), Date.today) %>
      <% @stock_price_hash = {} %>
      <% @stock_history[:history].each do |day| %>
        <% @stock_price_hash[day[:date]] = day[:close] %>
        <% end %>
      <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>

  </div>
  <div class="tab-pane" id="1y" role="tabpanel" aria-labelledby="1y-tab">
    <% @stock_history = StockQuote::Stock.history(@stock.ticker, Date.today.years_ago(1), Date.today) %>
      <% @stock_price_hash = {} %>
      <% @stock_history[:history].each do |day| %>
        <% @stock_price_hash[day[:date]] = day[:close] %>
        <% end %>
      <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>

  </div>
  <div class="tab-pane" id="3y" role="tabpanel" aria-labelledby="3y-tab">
    <% @stock_history = StockQuote::Stock.history(@stock.ticker,  Date.today.years_ago(3),  Date.today) %>
      <% @stock_price_hash = {} %>
      <% @stock_history[:history].each do |day| %>
        <% @stock_price_hash[day[:date]] = day[:close] %>
      <% end %>
      <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>
  </div>
  <div class="tab-pane" id="5y" role="tabpanel" aria-labelledby="5y-tab">
    <% @stock_history = StockQuote::Stock.history(@stock.ticker,   Date.today.years_ago(5),  Date.today) %>
      <% @stock_price_hash = {} %>
      <% @stock_history[:history].each do |day| %>
        <% @stock_price_hash[day[:date]] = day[:close] %>
      <% end %>
      <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>
  </div>
</div>
