<h1>Stocks#show</h1>
<p>Find me in app/views/stocks/show.html.erb</p>


<%= @stock.id %>
<%= @stock.ticker %>

<div class="card ">
  <div class="card-header">
    <strong><%= @stock_quote.name %> | <%= @stock_quote.symbol %></strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <% if @stock_quote.c.to_f >= 0 %>
          <h1 class='green'><%= @stock_quote.l %></h1> <br>
          <strong>Days Change: </strong><em class='green'><%= @stock_quote.c %> </em><br>
        <% else %>
          <h1 class='red'><%= @stock_quote.l %></h1> <br>
          <strong>Days Change: </strong> <em class='red'><%= @stock_quote.c %> </em> <br>
        <% end %>
        <strong>Current Company Worth: </strong><%= @stock_quote.mc %> <br>
        <strong>52 Week High: </strong><%= @stock_quote.hi52 %> <br>
        <strong>52 Week Low:</strong><%= @stock_quote.lo52 %> <br>
      </div>
      <div class="col-8">
          <%= @stock_quote.summary[0]['overview'] if @stock_quote.summary %>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'Edit',  edit_account_stock_path(@account,@stock), class: 'btn btn-default'  %>
    <%= link_to 'Back', account_path(@account), class: 'btn btn-default' %>
    <%# link_to 'Remove Stock', stock_path(@stock), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
    <%= button_to "Delete Stock", account_stock_path, method: :delete, class: 'btn btn-danger' %>

  </div>
</div>
