<h1>Research Page</h1>

<%= form_tag root_path, method: 'post' do %>
  <div class="form-group">
    <%= text_field_tag 'id', nil, placeholder: "Enter Company Ticker Symbol", size: 40 %>
    <%= submit_tag "Look up" , class: "btn btn-success"%>

  </div>
<% end %>
<br>
<% if @stock %>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2">Basic Information</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Company Name:</td>
                <td><%=@stock.name%></td>
              </tr>
              <tr>
                <td>Company Symbol:</td>
                <td><%=@stock.symbol%></td>
              </tr>
              <tr>
                <td>Current Price:</td>
                  <% if @stock.l.to_f >= 0 %>
                    <td style="color:green;"><%= @stock.l %></td>
                  <% else %>
                    <td style="color:red;"><%= @stock.l %></td>
                  <% end %>
              </tr>
              <tr>
                <td>52 Week High Price:</td>
                <td><%= @stock.hi52 %></td>
              </tr>
              <tr>
                <td>52 Week Low Price:</td>
                <td><%= @stock.lo52 %></td>
              </tr>
              <tr>
                <td>Company Sector:</td>
                <td><%= @stock.sname %></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2">Financial Highlights</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Earnings Per Share: </td>
                <td><%= @stock.eps %></td>
              </tr>
              <tr>
                <td>Price/Earnings Ratio: </td>
                <td><%= @stock.pe %></td>
              </tr>
              <tr>
                <td>Dividend Yield: </td>
                <% if @stock.dy != ''%>
                  <td><%= number_to_percentage(@stock.dy) %> </td>
                <% else %>
                  <td> N/A </td>
                <% end %>
              </tr>
              <% x = @stock.financials[0]['f_figures'].map {|x| x['recent_quarter'] }.map.with_index {|y,i| y if i == 2 || i == 3 || i ==4 }.compact %>
              <tr>
                <td> Market Capitalization: </td>
                <td><%= @stock.mc%></td>
              </tr>
              <tr>
                <td> Revenue Most Recent Quarter: </td>
                <td><%= x[0] %></td>
              </tr>
              <tr>
                <td> Net Income Most Recent Quarter: </td>
                <td><%= x[2] %></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2">Competitors</th>
              </tr>
            </thead>
            <tbody>
                <% @stock.related.each do |comp| %>
                <tr>
                  <td><%= comp['name'] %> </td>
                  <td><%=comp['t'] %></td>
                </tr>
                  <% end %>
                <tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2">Company Management</th>
              </tr>
            </thead>
            <tbody>
              <% @stock.management.each do |m| %>
              <tr>
                <td><%= m['name'] %> </td>
                <td><%= m['title'] %></td>
              </tr>
                <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<%# @stock.events%>


<% elsif @nothing %>
  <%= @nothing %>
<% elsif @error %>
  <%= @error %>
<% end  %>
