<% if current_user.accounts.empty? %>
  <%= link_to "Add an account", new_account_path %>
  <% end %>
  <div class="content">
    <h3>My accounts:</h3>

  <% current_user.accounts.each_with_index do |a, index| %>
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index.to_s%>" aria-expanded="true" aria-controls="collapseOne">
         <i class="fa fa-tag" aria-hidden="true"></i> <%= a.name%>
        </a>
      </h5>
    </div>

    <div id="collapse<%= index.to_s %>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item"><strong>My accounts:</strong></li>
          <% if a.stocks.empty? %>
            <li class="list-group-item"><%= 'No Stocks yet.' %></li>
          <% end %>
          <% a.stocks.each do |s| %>
          <li class="list-group-item"><%= s.ticker %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
  <% end %>

  </div>
